* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}
img{
  padding: 20px;
  width: 40%;
}
h1 {
  width: 30%;
  text-align: center;
  margin: 5px;
  padding: 5px;
  color: #FFCD00;
  font-size:50px;
}
header{
  display:flex;
  flex-direction: column;
  align-items: center;
}
body {
 background-color: #fff;;
}

.contenedor {
  padding: 4px;
  margin: 4px;
  border-radius: 5px;
  border-style: solid;
  border-color:#78340f;
}

table {
  border: 3px solid #78340f;
  width: 100%; /* Ancho de la tabla al 100% del contenedor */
  border-collapse: collapse;
  
}

th,
td {
  border: 3px solid #451a03;
  text-align: center;
  padding: 15px;
  color:#451a03;
  font-size: 40px;
}

th {
  background: linear-gradient(45deg,#FFCD00, #edcb43);
  color: #2a1f1f;
  font-size: 40px;
}
tbody tr:hover {
  background-color:#d87607;
  cursor: pointer;
}
input {
  width: 66%;
  margin-top: 2px;
  padding: 1%;
  color: #78340f;
  background-color: #fbd24e;
  border-color:#451a03;
  font-size: 40px;
}

button:hover {
  background: linear-gradient(45deg, #f49d0c, #bc560a);
  cursor: pointer;

}

button {
  position: relative;
  background:linear-gradient(45deg, #fabe25,#d87607 ) ;
  border: none;
  font-size: 28px;
  color:#78340f;
  padding: 31px;
  height: 100%;
  margin: 0px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
li{
  color:#451a03
}
.pie{
  text-align: center;
  padding: 15px;
  color:#451a03;
  cursor: pointer;
}
tfoot tr:hover {
  background-color:#d87607;
  cursor: pointer;
}
tfoot{
  border: #451a03;
}
.botonesAbajo{
  text-align: center;
}
.product-form-styles{
  background-color: black;
  color: white;
  padding: 20px;
}