* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}
h1 {
  text-align: center;
  margin: 5px;
  padding: 5px;
  background: linear-gradient(45deg,#f49d0c, #f49d0c);
  color: #78340f;
}
body {
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, #fde58a, #fde58a);
  padding: auto;
  margin: auto;
}

.contenedor {
  padding: 4px;
  margin: 4px;
  border-radius: 5px;
  border-style: solid;
  border-color:#78340f;
}

table {
  border: 3px solid #78340f;
  width: 100%; /* Ancho de la tabla al 100% del contenedor */
  border-collapse: collapse;
  
}

th,
td {
  border: 3px solid #451a03;
  text-align: center;
  padding: 15px;
  color:#451a03
}

th {
  background: linear-gradient(45deg,#f49d0c, #f49d0c);
}
tbody tr:hover {
  background-color:#d87607;
  cursor: pointer;
}
input {
  width: 100%;
  margin-top: 4px;
  padding: 2%;
  color: #78340f;
  background-color: #fbd24e;
  border-color:#451a03;
}

button:hover {
  background: linear-gradient(45deg, #f49d0c, #bc560a);
  cursor: pointer;

}

button {
  position: relative;
  background:linear-gradient(45deg, #fabe25,#d87607 ) ;
  border: none;
  font-size: 28px;
  color:#78340f;
  padding: 20px;
  margin: 4px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
li{
  color:#451a03
}
.pie{
  text-align: center;
  padding: 15px;
  color:#451a03;
  cursor: pointer;
}
tfoot tr:hover {
  background-color:#d87607;
  cursor: pointer;
}
tfoot{
  border: #451a03;
}
.botonesAbajo{
  text-align: center;
}