* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}
img{
  padding: 20px;
  width: 40%;
}
h1 {
  font-weight: bold;
  width: 30%;
  text-align: center;
  margin: 5px;
  padding: 5px;
  color: #FFCD00;
  font-size:50px;
}
form{
  font-weight: bold;
  display: block;
  background: linear-gradient(45deg,#FFCD00, #edcb43);
  padding: 20px;
  border: 4px solid #78340f;
  border-radius: 5px;
  margin: 20px;
  
}
.botonesForm{
  display: flex;
  justify-content: center;
  
}
.botonProduct{
  display: flex;
  justify-content: center;
}
header{
  font-weight: bold;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.contenedor {
  padding: 4px;
  margin: 4px;
}

table {
  border: 4px solid #78340f;
  width: 98%; /* Ancho de la tabla al 100% del contenedor */
  border-collapse: collapse;
}

th,
td {
  border: 3px solid #451a03;
  text-align: center;
  padding: 15px;
  color:#451a03;
  font-size: 30px;
  font-weight: bold;
}

th {
  background: linear-gradient(45deg,#FFCD00, #edcb43);
  color: #2a1f1f;
  font-size: 40px;
}
tbody tr:hover {
  background-color:#d87607;
  cursor: pointer;
}
input {
  font-weight: bold;
  width: 100%;
  margin-top: 2px;
  padding:10px;
  color: black;
  border-color:#0a0a09;
  font-size: 40px;
  border-radius: 5px;
}

button:hover {
  background: linear-gradient(45deg, #fdfd06, #bc560a);
  cursor: pointer;

}

button {
  font-weight: bold;
  position: relative;
  background:linear-gradient(45deg, #fabe25,#d87607 ) ;
  border: none;
  font-size: 28px;
  color:#78340f;
  padding: 0px;
  height: 50px;
  margin: 15px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
li{
  color:#451a03
}
.pie{
  font-weight: bold;
  text-align: center;
  padding: 15px;
  color:#451a03;
  cursor: pointer;
}
tfoot tr:hover {
  background-color:#d87607;
  cursor: pointer;
}
tfoot{
  border: #451a03;
}
.product-form-styles{
  background-color: black;
  color: white;
  padding: 20px;
}